@import '../../variables';

.calc-data-input {
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 50px 38px 38px;
	grid-row: auto;
	row-gap: 10px;
	justify-items: center;

	.add-item {
		justify-self: start;
		width: 30px;
		height: 30px;
		padding-left: 6px;
		padding-top: 1px;
		margin-left: 13px;
		background-color: $main-color;
		color: $white;
		font-size: 30px;
		line-height: 27px;
		border-radius: 50px;
		cursor: pointer;

		&:hover {
			box-shadow: 1px 1px 10px $grey;
		}
	}

	.added-item {
		margin-bottom: 13px;
		display: flex;
	}

	.remove-item {
		margin-left: 10px;
		width: 24px;
		height: 24px;
		padding-left: 7px;
		padding-top: 0;
		background-color: $red;
		color: $white;
		font-size: 30px;
		line-height: 19px;
		border-radius: 50px;
		cursor: pointer;

		&:hover {
			box-shadow: 1px 1px 10px $main-color;
		}
	}

	button {
		margin-top: 30px;
		border: none;
		border-radius: 20px;
		width: 100px;
		height: 40px;
		text-align: center;
		font-size: 18px;
		line-height: 18px;
		background-color: $main-color;
		color: $white;
		transition: all 0.1s linear;
		cursor: pointer;

		&:hover {
			box-shadow: 1px 1px 10px $grey;
		}
	}

	input {
		justify-self: start;
	}
}
