@import '../../variables';

.calc-info {
	align-self: start;
	padding: 20px;
	text-align: center;
	height: min-content;
	border-radius: 10px;
	box-shadow: 1px 1px rgba(238, 238, 238, 0.8);

	h3 {
		margin-top: 20px;
	}

	p {
		margin-top: 10px;
		font-size: 18px;
		font-weight: 300;
	}

	a {
		background-color: transparent;
	}

	.calc-info-clarification {
		margin-top: 30px;
		font-size: 14px;
		font-weight: 300;
	}
}
