@import '../../variables';

.calc-data-confirm {
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 50px 40px auto auto;
	grid-row: auto;
	row-gap: 10px;
	justify-items: center;
	animation-name: opacity;
	animation-duration: 700ms;

	ul {
		margin-top: 13px;
		justify-self: center;
		font-size: 20px;
		font-weight: 300;

		li {
			width: 200px;
			text-align: center;
			border-bottom: 1px solid $main-color;
		}
	}

	button {
		padding: 0 13px;
		border: none;
		border-radius: 20px;
		min-width: 100px;
		height: 40px;
		text-align: center;
		font-size: 14px;
		line-height: 14px;
		background-color: $main-color;
		color: $white;
		transition: all 0.1s linear;
		outline: none;
		cursor: pointer;

		&:hover,
		&:focus {
			background-color: $main-color-hover;
		}
	}

	&-search {
		margin-top: 13px;
		display: flex;
		justify-content: space-between;

		.sort {
			width: 24px;
			height: 24px;
			padding-left: 4.5px;
			padding-top: 0px;
			background-color: $main-color;
			color: $white;
			font-size: 26px;
			line-height: 31px;
			border-radius: 50px;

			&:hover {
				background-color: $main-color-hover;
			}
		}

		.rotated {
			transform: rotate(180deg);
		}
	}

	&-footer {
		width: 90%;
		margin-top: 31px;
		display: flex;
		justify-content: space-between;
	}
}
