@import '../../variables';

.error-message {
	margin: 113px 13px 0 13px;
	font-size: 18px;

	.error-message-p {
		text-align: center;
		color: $black;
		font-weight: 300;
		margin-bottom: 10px;
	}

	.error-message-a {
		display: block;
		margin-top: 13px;
		text-align: center;
		color: $deep-gray;
	}
}
