@import '../../variables';

.calc-widget {
	padding-top: 20px;

	h1 {
		font-size: 21px;
	}

	a {
		border-radius: 20px;
		padding: 12px;
		height: 40px;
		text-align: center;
		font-size: 18px;
		line-height: 18px;
		background-color: $main-color;
		color: $white;
		text-decoration: none;
		transition: all 0.1s linear;
	}

	input {
		height: 25px;
		width: 260px;
		border: none;
		border-bottom: 1px solid $deep-gray;
		outline: none;
		background: none;
		font-size: 20px;
		font-weight: 300;

		&:focus {
			border-bottom: 2px solid $main-color;
		}
	}

	p {
		position: absolute;
		top: 7vh;
		right: 1vw;

		@media (min-width: 790px) {
			top: 5.5vh;
		}

		@media (min-width: 900px) {
			top: 8vh;
		}
	}
}
