@import '../../variables';

.main-page {
	background: $white;

	.container {
		padding: 11vh 0 1vh 0;
		min-height: 100vh;
		max-width: calc(100vw - 2vw);
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		row-gap: 10px;
		justify-items: center;

		@media (max-width: 900px) {
			padding: 6vh 1vw 3vh 1vw;
		}

		a {
			border-radius: 20px;
			padding: 0 13px;
			padding-top: 11px;
			min-width: 100px;
			height: 40px;
			text-align: center;
			font-size: 18px;
			line-height: 18px;
			background-color: $main-color;
			color: $white;
			text-decoration: none;
			transition: all 0.1s linear;

			@media (max-width: 900px) {
				align-self: flex-end;
			}
		}
	}
}
