@import '../../variables';

.header {
	position: fixed;
	top: 0;
	background: $main-background;
	display: grid;
	grid-template-columns: 110px auto auto;
	column-gap: 20px;
	align-items: center;
	width: 100vw;
	min-height: 5vh;
	padding: 1vh 3vw;
	z-index: 10;
	animation-name: opacity;
	animation-duration: 700ms;

	// @media (max-width: 900px) {
	// 	min-height: 5vh;
	// }

	.header-menu {
		justify-self: start;

		ul {
			display: flex;
			justify-content: space-between;
			font-weight: 500;
			font-size: 16px;
			line-height: 16px;

			a {
				margin-left: 10px;
				color: $black;
				text-decoration: none;
				outline: none;
				transition: all 0.1s linear;

				&:hover {
					color: $main-color-hover;
				}
			}

			.active {
				color: $main-color;
			}
		}
	}

	.in-out {
		justify-self: end;
	}

	button {
		padding: 0 13px;
		border: 1px solid $gray;
		border-radius: 20px;
		min-width: 100px;
		height: 40px;
		text-align: center;
		font-size: 14px;
		line-height: 14px;
		background-color: transparent;
		color: $black;
		transition: all 0.2s linear;
		outline: none;
		cursor: pointer;

		&:hover,
		&:focus {
			border: 1px solid $deep-gray;
		}
	}
}
