@import '../../variables';

.login-page {
	background: linear-gradient(
		180deg,
		rgba(254, 254, 254, 1) 0%,
		rgba(238, 238, 238, 1) 100%
	);

	.container {
		padding: 11vh 0 1vh 0;
		min-height: 100vh;
		max-width: calc(100vw - 2vw);
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		justify-content: center;
		align-items: center;

		@media (max-width: 900px) {
			padding: 6vh 0 0 0;
		}

		svg {
			justify-self: center;
		}

		a {
			border-radius: 20px;
			padding-top: 11px;
			width: 100px;
			height: 40px;
			text-align: center;
			font-size: 18px;
			line-height: 18px;
			background-color: $main-color;
			color: $white;
			text-decoration: none;
			transition: all 0.1s linear;
		}
	}
}
