@import '../../variables';

.login-widget {
	margin-top: 30vh;
	display: grid;
	grid-template-columns: auto;
	grid-auto-rows: 25px;
	row-gap: 15px;
	justify-items: center;

	button {
		margin-top: 30px;
		// border: none;
		border-radius: 20px;
		width: 100px;
		height: 40px;
		text-align: center;
		font-size: 18px;
		line-height: 18px;
		background-color: $main-color;
		color: $white;
		transition: all 0.1s linear;
		cursor: pointer;
	}

	input {
		height: 25px;
		width: 260px;
		border: none;
		border-bottom: 2px solid $main-color;
	}
}
