// $main-color: #ff8c00;
$main-color: #ff8c00;
$main-color-hover: #ff8200;
$main-background: #fdfdfd;
$black: #000;
$white: #fff;
$gray: #cccccc;
$deep-gray: #999999;

$green: #03b903;
$red: #ff0000;
$deep-red: #eb0808;
