@font-face {
	font-family: 'Museo Sans';
	src: local('Museo Sans'), url(fonts/300_normal.woff2.txt) format('woff');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Museo Sans';
	src: local('Museo Sans'), url(fonts/500_normal.woff2.txt) format('woff');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Museo Sans';
	src: local('Museo Sans'), url(fonts/700_normal.woff2.txt) format('woff');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Museo Sans';
	src: local('Museo Sans'), url(fonts/900_normal.woff2.txt) format('woff');
	font-style: normal;
	font-weight: 900;
}

@import './variables';

* {
	font-family: 'Museo Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li,
dl {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container {
	margin: 0 auto;
}

h2 {
	font-size: 21px;
}
h3 {
	font-size: 18px;
}
